@{
	ViewBag.Title = "Azure Dev Tools @ BME";
	ViewBag.MetaKeywords = "Microsoft Azure Dev Tools, Imagine, DreamSpark, MSDNAA, Microsoft, szoftver, letöltés";
	ViewBag.MetaDescription = "Microsoft Azure Dev Tools szolgáltatás a Budapesti Műszaki és Gazdaságtudományi Egyetemen";
}

    <div class="hero-unit visible-desktop visible-tablet">
        <h1 class="bme-color text-original">
            Egyetemi Szoftverek @@ BME
        </h1>

        <p>
            Erről a szerverről elindulva a
            <strong>
                Budapesti Műszaki és Gazdaságtudományi Egyetem Villamosmérnöki és Informatikai Karának (VIK) oktatói és hallgatói
            </strong>
            szoftvereket érhetnek el a Campus, Azure Dev Tools, valamint Office 365 ProPlus azure-dev-tools keretein belül.
        </p>

        <p>
        <p class="text-center">
            <a class="btn btn-primary" href="/letoltes?category=oktato">Letöltés Oktatóknak</a>
            &nbsp;
            <a class="btn btn-primary" href="/letoltes?category=hallgato">Letöltés Hallgatóknak</a>
        </p>
        &nbsp;
        <small><a href="/azure-dev-tools">Bővebben a Microsoft Azure Dev Tools azure-dev-toolsról</a></small>
        </p>
    </div>

<div class="visible-phone">
    <p class="text-center">
        Erről a szerverről elindulva a
        <strong>
            Budapesti Műszaki és Gazdaságtudományi Egyetem minden karának oktatói és hallgatói
        </strong>
        szoftvereket érhetnek el a Campus, Azure Dev Tools, valamint Office 365 ProPlus azure-dev-tools keretein belül.
    </p>

    <p class="text-center">
        <a class="btn btn-primary" href="/letoltes?category=oktato">Letöltés Oktatóknak</a>
    </p>
    <p class="text-center">
        <a class="btn btn-primary" href="/letoltes?category=hallgato">Letöltés Hallgatóknak</a>
    </p>
    <p class="text-center">
        <a href="/azure-dev-tools">Bővebben a Microsoft Azure Dev Tools azure-dev-toolsról</a>
    </p>
</div>

<p>&nbsp;</p>

<div class="row">
	<div class="span8">
		<h2>Így juthat hozzá a szoftverekhez</h2>

		<ul class="unstyled">
			<li><i class="icon-ok"></i> Ellenőrizze, hogy vonatkozik-e Önre az <a href="/licenc">Egyetemi Szoftverek licenc</a>!</li>
			<li><i class="icon-ok"></i> Olvassa el a	<a href="/letoltesi-utmutato"> letöltéssel</a> kapcsolatos útmutatót!</li>
			<li><i class="icon-ok"></i> Kattintson a felső menüben található <a href="/letoltes">Letöltés</a> linkre!</li>
		</ul>
	</div>

	<div class="span4">
		<h2>útmutatók</h2>

		<ul class="unstyled">
			<li><i class="icon-info-sign"></i> <a href="/letoltesi-utmutato" title="Segítség a letöltéshez">Letöltéshez</a></li>
			<li><i class="icon-info-sign"></i> <a href="/rendszergazdaknak" title="Segítség rendszergazdáknak">Rendszergazdáknak</a></li>
		</ul>
	</div>
</div>


<p>&nbsp;</p>

<div class="row">
	<div class="span8">
		<h2>gyakori kérdések</h2>

		<ul class="unstyled">
			<li>
				<i class="icon-question-sign"></i>
				<a href="/gyik#Letoltes">
					Mi a teendő, ha a letöltéskor kapott hibakód lehetséges okai közül egyik sem igaz rám?
				</a>
			</li>
			<li>
				<i class="icon-question-sign"></i>
				<a href="/gyik#Telepites">
					Mi a teendő, ha nem sikerül megváltozott hardverű gépen aktiválnom a Windowst?
				</a>
			</li>
			<li>
				<i class="icon-question-sign"></i>
				<a href="/gyik#Telepites">
					Mi a teendő, ha nem sikerül a második számítógépemen aktiválnom a szoftvert?
				</a>
			</li>
			<li>
				<i class="icon-question-sign"></i>
				<a href="/gyik#Telepites">
					Mi a teendő, ha aktiváláskor <em>"A termékkulcs már használatban van"</em> üzenetet kapom?
				</a>
			</li>
		</ul>

		<p>
			<i class="icon-circle-arrow-right"></i> <a href="/gyik">További kérdések és válaszok</a>
		</p>

		<p>
			<i class="icon-circle-arrow-right"></i> <a href="/hibakodok">Letöltési hibakódok magyarázata</a>
		</p>
	</div>

	<div class="span4">
		<h2>segítség</h2>

		<p>
			Ha további kérdése van, vegye fel a kapcsolatot a
			<a href="/kapcsolat">azure-dev-tools adminisztrátorokkal</a>.
		</p>
	</div>
</div>